.bottom-panel {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border-top: 1px solid #333;
    background-color: #121212;
    align-items: stretch;
}

.bottom-panel.dragging {
    border-color: #007bff;
    background-color: rgba(0, 123, 255, 0.05);
}

.bottom-panel.has-file {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #3B3B3B;
}

.bottom-panel button {
    background-color: #2a2a2a;
    color: white;
    padding: 0px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    height: 100%;
}

.bottom-panel button:hover {
    background-color: #3a3a3a;
}
